body div {
    font-family: monospace;
    background-color: #e6d9ff;
    border: #570082 solid 2px;
    padding: 10px;
}

 h1.logo, .tagline {
    font-size: 24px;
    color: black;
}

h2 {
    border-bottom: 2px solid mediumpurple;
}

p {
    line-height: 2;
}

address {
    font-style: normal;
}

address a {
    font-style: italic;
    color: mediumpurple;
}

header#header {
    background: white;
}

.purple-text { 
    font-size: 14px;
    color: #570082;
}

.container {
    margin: auto;
    width: 90%;
}
